@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Lobster&family=Source+Sans+3:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
*{
    margin: 0px ;
    font-family: 'Source Sans 3', sans-serif;
}
body{
    max-width: 100%;
}
@media (max-width:700px) {

    #section-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }  

    .pprincipal{
        
        height: fit-content;
    }
    .tprincipal{

        height: fit-content;
    }
    .beneficio{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



#logo{
    position: absolute;
}
header{
    background-image: url(https://cdn.pixabay.com/photo/2021/03/02/13/04/laptop-6062423_960_720.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    display: flex;  
    animation: background 10s infinite alternate; 
    justify-content: space-around;
    padding-right: 40px;
}
@keyframes background{
    0%{
        background-position: bottom right;
    }
    100%{
        background-position: top left;
    }
}

.logo{
    width: 70px;
    margin: 15px;
}
.texto-principal{
    color: white;
    display: flex;
    flex-direction: column;
    width: 40%;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bolder;
    margin-top: 200px;
    margin-left: 80px;
}
.tprincipal{
    font-size: 40px;
    background-color: rgba(97, 93, 91, 0.323);
    border: 1px solid rgba(131, 116, 107, 0.323);
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    max-width: 100%;

}
.pprincipal{
    font-size: 20px;
    border-radius: 5px;
    color: #E72B03 ;
    padding-left: 25px;
    max-width: 100%;
}
form{
    background-color: rgba(255, 254, 255, 0.597);
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    height: max-content;
    padding: 50px 50px 50px 40px;
    border-radius: 7px;    
    box-shadow: 0 0 10px rgb(107, 100, 100);
    width: 27%;
}
.label-form{
    color: #473e3c; 
    font-weight: 1000;
   
}
.input-form{
    width: 100%;
    background-color:rgba(242, 226, 209, 0.597);
    border: 1px solid  rgb(186, 178, 166) ;
    border-radius: 5px;
    height: 55px;
    margin-bottom: 10px;   
    padding-left: 15px;
    color: black;
    font-weight: 1000;    
}
#condicion{
    z-index: 1000;
}
button{
    background-color: #E72B03;
    width: 100%;
    border: solid 1px #E72B03 ;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
    z-index: 100;
}
@media (max-width:900px) {
    .texto-principal{
        margin-top: 150px;
        width:80%;       
        margin-right: 40px;
        height: fit-content
    }
    header{
        display: flex;
        flex-direction: column;
        height: fit-content; 
        justify-content: center;
        align-items: center;
        height: fit-content;
       padding-bottom: 100px;
    }

    form{
        width: 60%;
        margin-left: 50px;
    }
 
}

.beneficios{
    display:flex;
    flex-direction: column;
}
.container-img-beneficios{
    display: flex;
    justify-content: space-around;
}
.imagen-beneficios{
    width: 20%;
    margin-top: 150px;
    margin-bottom: 40px;
}
.texto-beneficios{
    color: black;
    text-align: center;
    
}
.beneficio{
    border: 1px solid rgb(186, 178, 166);
    background-color: rgba(255, 254, 255, 0.597);
    border-radius: 5px;    
    box-shadow: 0 0 15px rgb(224, 220, 220);
    flex-direction: column;
    text-align: center;
}
.carrusel{
    width:80%;
    overflow: hidden;
    display: block;
    margin: auto;



}
.carrusel .caja{
    width: 300%;
    display: flex;
    flex-flow: row nowrap;
    justify-content:center ;
    align-items:center ;
    transition: all 0.4s ease;
    transform: translateX(0%);



}
.carrusel .beneficio{
    width: calc(100%/3);
    margin: 50px;
    padding-bottom: 30px;

    display: flex;
    align-items: center;
    padding: 20px;
}


.carrusel .puntos{
    margin-top: -60px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.carrusel .punto{
    width: 0.01em;
    margin: 20px;
    font-size: 60px;
    


}
.carrusel .punto.activo{
    color: #E72B03;

}



section{
    display: flex;
    justify-content: space-between;
    padding: 20px;


}
article{
    border: 1px solid rgb(186, 178, 166);
    background-color: rgba(255, 254, 255, 0.597);
    border-radius: 7px;    
    box-shadow: 0 0 20px rgb(209, 206, 206);
    width: 20%;
    display: flex;
    justify-content: ;
    padding: 30px 40px 30px 10px; 
    height: min-content;
    align-items: center;
    margin: 10px;
}
@media (max-width:890px) {
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    article{
        width: 50%;
        padding-right: 30px;
    }
    
}

.box li{
    width: 110%;
    list-style-image:url("/img/check.svg") ;
    margin-top: 10px;
    font-weight: 600;   



}
.box h2{
    width: fit-content;
    text-align: center;
    color: #E72B03 ;

}
footer{
    display: flex;
    justify-content: center;
}
#end{
    display: flex;
    justify-content: center;
    background-color: #E72B03; 
    width: 100%;
}
.bi-instagram, .bi-facebook, .bi-twitter{
    color: white;
    padding: 20px;
    font-size: 1.7em;
}
